{% extends 'layout/base-personal.html' %}
{% load static %} <!-- Cargamos la carpeta static que contiene el script.js y el css-->

{% block css %}
    <link rel="stylesheet" href="{% static 'estilos/styles_medico.css' %}">
{% endblock %}

{% block titulo %}
    <title>Turnos programados</title>
{% endblock %}

{% block contenido %}
    <div class="container-tabla-medico-global">
        <h1>Turnos Programados para {{especialidad_actual_nombre}}</h1>

        <div class="turnos-section">
            <h2>Turnos del Día de Hoy</h2>
            <table>
            {% if turnos_hoy %}
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Paciente</th>
                        <th>Asistió</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            {% endif%}
                <tbody>
                    {% for turno in turnos_hoy %}
                        <tr class="fila-turnos estado-{{ turno.estado }}">
                            <td data-label="ID:">{{ turno.id }}</td>
                            <td data-label="Paciente:">{{ turno.paciente.persona.get_full_name }} - DNI {{ turno.paciente.persona.dni }}</td>
                            <td data-label="Asistió:">{% if turno.asistio %} Si {% else %} No {% endif %}</td>
                            <td data-label="Estado:">{{ turno.get_estado_display }}</td>
                            <td data-label="Acciones:" class="td-acciones">
                                <div class="box-btns-td-acciones">
                                    {% if turno.estado == "atendido" %}
                                        {% for consulta in turno.consulta.all %}
                                            {% if consulta.turno.id == turno.id %}
                                                <a href="{% url 'editarConsulta' consulta.id %}" class="btn-accion">Editar</a>
                                            {% endif %}
                                        {% endfor %}
                                    {% elif turno.estado == "pendiente" %}
                                        <a href="{% url 'registrarConsulta' turno.id %}" class="btn-accion">Comenzar consulta</a>
                                        <button class="btn-accion">Reprogramar</button>
                                        <button class="btn-accion">Cancelar</button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="empty-message">No hay turnos para hoy.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        <div class="turnos-section">
            <h2>Turnos futuros</h2>
            <table>
            {% if turnos_otros_dias %}
                <thead>
                    <tr>
                        <th>Fecha turno</th>
                        <th>Paciente</th>
                        <th class="th-estado">Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            {% endif%}
                <tbody>
                    {% for turno in turnos_otros_dias %}
                        <tr class="fila-turnos estado-{{ turno.estado }}">
                            <td data-label="Fecha del turno:">{{ turno.fecha_turno|date:"d/m/Y"}}</td>
                            <td data-label="Paciente:">{{ turno.paciente.persona.get_full_name }} - DNI {{ turno.paciente.persona.dni }}</td>
                            <td data-label="Estado:" class="td-estado">{{ turno.get_estado_display }}</td>
                            <td data-label="Acciones:">
                                <div class="box-btns-td-acciones">                                    
                                    {% if turno.estado == "pendiente" %}
                                        <button type="button" data-id-turno="{{ turno.id }}" class="btn-modal btn-accion">Reprogramar</button>
                                        <form method="POST" action="{% url 'cancelarTurno' turno.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn-accion" onclick="return confirm('¿Estás seguro de que deseas cancelar este turno?')">Cancelar</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="empty-message">No hay otros turnos.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div id="editModal" class="modal">
        <div class="modal-content modal-reprogramar-turno">
            <span id="closeEditModal" class="close">&times;</span>
            <h2 id="modal-title">Reprogramar turno</h2>
            <form id="editForm" method="POST" action="">
                {% csrf_token %}
                <input type="hidden" name="fecha_seleccionada" id="fecha_seleccionada" value="">
                <h3>Días disponibles:</h3>
                <div class="nav-buttons">
                    <button type="button" id="prevMonth" class="prevMonth">Mes Anterior</button>
                    <button type="button" id="nextMonth" class="nextMonth">Mes Siguiente</button>
                </div>
                <div class="calendar" id="calendar"></div>
                <button type="submit" class="btn-global">Reprogramar</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts_js %}
    <script src="{% static 'js/medicos.js' %}"></script>
{% endblock %}



