{% extends 'layout/base-personal.html' %}
{% load static %} <!-- Cargamos la carpeta static que contiene el script.js y el css-->

{% block css %}
    <link rel="stylesheet" href="{% static 'estilos/styles_medico.css' %}">
{% endblock %}

{% block titulo %}
    <title>Historial de consultas</title>
{% endblock %}

{% block contenido %}
    <div class="container-tabla-medico-global">
        <h1>Historial de consultas {% if especialidad_actual_nombre %}de {{especialidad_actual_nombre}}{% endif %}</h1>
        <div class="box-tabla-consultas-medico">
            <table>
                {% if consultas %}
                <thead>
                    <tr>
                        <th>ID consulta</th>
                        <th>Fecha de la consulta</th>
                        <th class="td-paciente">Paciente</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                {% endif %}
                <tbody>
                    {% for consulta in consultas %}
                    <tr class="fila-consultas-medico">
                        <td>{{consulta.id}}</td>
                        <td>{{consulta.turno.fecha_turno|date:"d-m-Y"}}</td>
                        <td class="td-paciente">{{consulta.turno.paciente.persona.get_full_name}} - DNI: {{consulta.turno.paciente.persona.dni}}</td>
                        <td class="td-acciones">
                            <a href="{% url 'detallesConsulta' consulta.id %}" class="btn-accion">Mas detalles</a>
                        </td>   
                    </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="empty-message">No se realizaron consultas de hasta el momento.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <div id="editModal" class="modal">
        <div class="modal-content modal-detalles-consulta">
            <span id="closeEditModal" class="close">&times;</span>
            <h2 id="modal-title">Detalle de la consulta</h2>

            <div class="modal-detalles-consulta-item">
                <p><strong>Profesional a cargo:</strong> <span id="modalProfesional"></span></p>
            </div>
            <div class="modal-detalles-consulta-item">
                <p><strong>Paciente:</strong> <span id="modalPaciente"></span></p>
            </div>
            <div class="modal-detalles-consulta-item">
                <p><strong>Fecha:</strong> <span id="modalFecha"></span></p>
            </div>
            <div class="modal-detalles-consulta-item">
                <p><strong>Diagnóstico:</strong></p>
                <pre id="modalDiagnostico"></pre>
            </div>
            <div class="modal-detalles-consulta-item">
                <p><strong>Observaciones:</strong></p>
                <pre id="modalObservaciones"></pre>
            </div>
            <div class="modal-detalles-consulta-item">
                <p><strong>Tratamiento:</strong></p>
                <pre id="modalTratamiento"></pre>
            </div>
            <div class="modal-detalles-consulta-item">
                <p><strong>Estudios solicitados:</strong></p>
                <div>
                    <pre id="modalEstudios"></pre>
                </div>
            </div>
            <div class="modal-detalles-consulta-item">
                <p><strong>Medicaciones:</strong></p>
                <pre id="modalMedicaciones"></pre>
            </div>
            
        </div>
    </div>

{% endblock %}





{% block scripts_js %}
    <script src="{% static 'js/medicos.js' %}"></script>
{% endblock %}



